<!--

    Context configuration file for PROJECT_NAME

    Tomcat 5 and up version

-->


<Context>

  <Logger className="org.apache.catalina.logger.FileLogger"
          prefix="PROJECT_NAME." suffix=".txt" timestamp="true"/>

  <Valve className="org.apache.catalina.valves.AccessLogValve"
         directory="logs" prefix="PROJECT_NAME_access_log." suffix=".txt"
         pattern="common"/>

  <!--PARAMETERS-->

  <Resource name="jdbc/PROJECT_NAME"
            auth="Container"
            type="javax.sql.DataSource"
            factory="org.apache.commons.dbcp.BasicDataSourceFactory"
            maxActive="200"
            maxIdle="10"
            maxWait="999"
            username="USERNAME"
            password="PASSWORD"
            driverClassName="DRIVER_CLASS"
            url="URL"
            removeAbandoned="true"
            logAbandoned="true"/>

</Context>  
